body {
    background-size: 1cm 1cm;
    background-image: linear-gradient(to right, #DDDDDD 1px, transparent 1px), linear-gradient(to bottom, #DDDDDD 1px, transparent 1px);
}

h1 {
    font-family: 'Black Ops One', fantasy;
}

h2, h3, legend {
    /*font-family: 'Barrio', fantasy;*/
    font-family: 'Black Ops One', fantasy;
}

table.table {
    background-color: #FFFFFF;
    border-collapse: collapse;
}

fieldset {
    border: 1px solid black;
}

/* Header */

nav {
    background: #FFFFFF;
}

.bg-grass {
    background-image: url("grass.png");
    font-family: 'Black Ops One', fantasy;
}

/* Login page */

#btn-google-signin {
    width: 10em;
}

/* User page */

#student-list {
}

#student-list ul {
    padding-left: 0;
}

#student-list li {
    list-style: none;
    margin-top: 0.5em;
}

/* Animal page */

#title {
    font-size: 3.5em;
    margin: 0.5em;
}

#animal-summary-table {
}

#animal-summary-table td{
    border: 0.05em black solid;
    padding: 0.4em;
}

#animal-summary-table .editing{
    font-weight: bold;
}

#add-part-form {
}

#sidebar {
}

.checked {
    background-color: #90EE90;
}

.checked-toggle-form {
    margin-bottom:0;
}

.edit-link {
    font-weight: 570;
}

/* SVG Icon */
/* See:  https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4 */
.svg-icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}

.svg-icon svg {
    height:1em;
    width:1em;
}

.svg-icon.svg-baseline svg {
    bottom: -0.125em;
    position: absolute;
}
