{% extends "base.html" %}
{% load template_tags %}

{% block content %}
<div class="row">
    <!-- Sidebar -->
    <div class="col-md-2" id="sidebar">
        <div id="student-list" class="bg-green-100 radius p-1">
            <ul>
                {% for animal_item in user.animal_set.all %}
                <li>
                    {% if animal_item.pk == animal.pk %}
                    <span class="btn btn-primary btn-sm">{{animal_item}}</span>
                    {% else %}
                    <a class="btn btn-default btn-sm" href="{% url 'animal' animal_item.pk %}">{{animal_item}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Main content  -->
    <div class="col-md-7" id="content">
        <h1>{{animal}}</h1>
        {% include "animal_app/part_table.html" %}
    </div>

    <!-- add part forms -->
    <div class="col-md-3 pe-2">
        <form id="add-part-form" action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group bg-green-100 p-1" style="border: 1px solid black">
                <legend>Add a new part</legend>
                {% for field in newPartForm %}
                <div class="form-group row">
                    {{field.error}}
                    <label for="{{ form.id_for_label }}" class="col-3">
                        {{field.label}}:
                    </label>
                    <div class="col-9">
                        {{field|add_attributes:"form-control"}}
                    </div>
                </div>
                {%endfor%}
                <input class="btn btn-primary" type="submit" value="Add Part" />
            </fieldset>
        </form>
        <form id="notes-form" action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group bg-green-100 p-1" style="border: 1px solid black">
                <legend>Notes</legend>
                {{notesform.notes|add_attributes:"form-control"}}
                <input id="notes_submit" class="btn btn-primary mt-1" disabled type="submit" name="update_notes" value="Update Notes" />
            </fieldset>
        </form>
    </div>

    {% if edit_part %}
    {% include "animal_app/edit_part.html" %}
    {% endif %}
</div>
{% endblock %}
