{% extends "base.html" %}
{% load template_tags %}
{% load static %}

{% block content %}
<div class="container">
<div class="row flex-center">
    <div class="col">
        <h1>Login</h1>
        <p>Please sign in to your Google account to access the website.</p>

        <p>
            <a href="{% url "social:begin" "google-oauth2" %}">
                <img id="btn-google-signin" src="{% static "animal_app/btn_google_signin.png" %}" alt="Sign in with Google"/>
            </a>
        </p>
    </div>
</div></div>
{% endblock %}
