<table id="animal-summary-table" class="table table-bordered">
    <thead class="">
        <tr>
            <th> Part </th>
            <th> Shape </th>
            <th> Quantity </th>
            <th> Surface Area </th>
            <th> Volume </th>
            <th> Checked? </th>
            <th> Initially Correct? </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for part in animal.part_set.all %}
        <tr {% if part.checked %} class="checked" {% endif %}>
            <td>
                {% include "animal_app/edit_part_modal.html"%}
                <div>
                    <a id="edit-part-modal-button"
                    class="edit-link link-primary"
                    href=""
                    data-cfw="modal" data-cfw-modal-target="#edit-part-modal-{{part.pk}}">
                    {{part.name}}
                    </a>
            </div>
            </td>
            <td> {{part.shape.name}} </td>
            <td> {{part.quantity}} </td>
            <td> {{part.sa|floatformat}} </td>
            <td> {{part.vol|floatformat}} </td>
            <td>
                <form action="" method=POST class="checked-toggle-form">
                    {% csrf_token %}
                    <input type="hidden" name="part_pk" value="{{part.pk}}" />
                    <input type="submit" name="checked_toggle"
                    value="Toggle" class="btn btn-success btn-xs" />
                </form>
            </td>
            <td>
                <form action="" method=POST class="initiallycorrect-toggle-form">
                    {% csrf_token %}
                    <input type="hidden" name="part_pk" value="{{part.pk}}" />
                    <input type="submit" name="initially_correct_toggle"
                    value="Toggle" class="btn btn-xs
                        {% if part.initiallycorrect %} btn-success
                        {% else %} btn-danger {% endif %}" />
                </form>
            </td>
            <td>
                <a class="btn btn-sm btn-danger btn-confirm" href="{% url 'delete_part' part.pk %}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
        <!-- Total -->
        <tr class="total">
            <td>
                Total:
            </td>
            <td> </td>
            <td> </td>
            <td> {{animal.total_sa|floatformat}} </td>
            <td> {{animal.total_vol|floatformat}} </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
</table>
