{% load template_tags %}


<table id="animal-summary-table" class="table table-bordered">
    <thead class="">
        <tr>
            <th> Part </th>
            <th> Shape </th>
            <th> Quantity </th>
            <th> Surface Area </th>
            <th> Volume </th>
            <th></th>
            <th> Current State: </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for part in animal.part_set.all %}
        <tr {% if part.state %} class="checked" {% endif %}>
            <td>
                {% include "animal_app/edit_part_modal.html"%}
                <div>
                    <a id="edit-part-modal-button"
                    class="edit-link link-primary"
                    href=""
                    data-cfw="modal" data-cfw-modal-target="#edit-part-modal-{{part.pk}}">
                    {{part.name}}
                    </a>
            </div>
            </td>
            <td> {{part.shape.name}} </td>
            <td> {{part.quantity}} </td>
            <td> {{part.sa|floatformat}} </td>
            <td> {{part.vol|floatformat}} </td>
            {% include "animal_app/overwrite_modal.html"%}
            <td>
                <a id="edit-part-modal-button"
                    class="edit-link link-primary"
                    href=""
                    data-cfw="modal" data-cfw-modal-target="#overwrite-part-modal-{{part.pk}}">
                    Overwrite
                </a>
            </td>
            <td>
                <form action="" method=POST class="state-form">
                    {% csrf_token %}
                    <input type="hidden" name="state_form" />
                    <input type="hidden" name="part_pk" value="{{part.pk}}" />
                    {% with stateform=stateforms|hash:part.pk %}
                        {{stateform.state|add_attributes:"form-control state-selector"}}
                    {% endwith %}
                </form>
            </td>
            <td>
                <a class="btn btn-sm btn-danger btn-confirm" href="{% url 'delete_part' part.pk %}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
        <!-- Total -->
        <tr class="total">
            <td>
                Total:
            </td>
            <td> </td>
            <td> </td>
            <td> {{animal.total_sa|floatformat}} </td>
            <td> {{animal.total_vol|floatformat}} </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
</table>
