{% extends "base.html" %}
{% load template_tags %}

{% block content %}
<div class="row">
    <div class="col-md-9 px-2">
      <h1>Home</h1>
      <h2>
          Collections:
      </h2>
      <ul>
        {% for collection in collections %}
          <li>
            <a class="edit-link" href="{% url 'collection' collection.pk %}">
              {{collection.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-3 pe-2">
        <form id="add-collection-form" action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group bg-green-100 p-1">
                <legend>Add a new collection:</legend>
                {% for field in newCollectionForm %}
                <div class="form-group row">
                    {{field.error}}
                    <label for="{{ form.id_for_label }}" class="col-3">
                        {{field.label}}:
                    </label>
                    <div class="col-9">
                        {{field|add_attributes:"form-control"}}
                    </div>
                </div>
                {%endfor%}
                <div class="form-group row">
                    <div class="col-9 offset-3">
                      <input class="btn btn-primary" type="submit" value="Go" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
